<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat da burger</title>
		<link rel="stylesheet" href="/assests/css/style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assests/js/burger.js"></script>
	</head>

	<body>
		{{{ body }}}
	</body>
</html>
